:root {
    --reference-width: 480;
    --reference-height: 800;
  }

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(0, 167, 239);
    background-image: radial-gradient( circle 900px at 50.7% -7.5%,  rgba(0,167,239,1) 0.3%, rgba(13, 59, 128,1) 100.2% );
}
/* resolucion de referencia: 480x800 */
main {
    margin: 0;
    padding: 0;
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 111, 158);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../wwwroot/images/UI/background.png");
    -webkit-box-shadow: 0px 0px 15px 1px rgba(13,59,128,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(13,59,128,1);
    box-shadow: 0px 0px 15px 1px rgba(13,59,128,1);
}

header, section, footer {
    display: block;
    min-width: 100%;
}

section.game-section {
    flex-grow: 1;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media a {
    color: white;
    text-decoration: none;
}

.menu-buttons-container {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem 3rem;
}

.menu-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(101, 105, 107, 0.45);
    border-radius: 0.5rem;
    border: 2px solid rgba(0,0,0,0.5);
    padding: 0.8rem 1rem;
    cursor: pointer;
}

.menu-button img {
    max-width: 100%;
    height: auto;
}

.menu-button:hover {
    background-color: rgba(87, 89, 90, 0.55);
    border: 2px solid rgba(147, 163, 2, 0.5);
}

.game-footer {
    display: flex;
}

.menu-footer-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin: 0.5rem 2rem;
}

.menu-footer-container img {
    max-height: calc(100% - 2rem);
    width: auto;
    cursor: pointer;
}



/* CSS Generico (INI) */

.img-fluid {
    max-width: 100%;
    height: auto;
}

.w-100 {
    width: 100%;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

/* CSS Generico (FIN) */