body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #8EC5FC;
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}